<ion-header>
  <ion-toolbar color="medium">
    <ion-button fill="clear" slot="start">
      <ion-menu-button color="light">
      </ion-menu-button>
    </ion-button>
    <ion-button fill="clear" slot="end" color="light">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" color="light">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" slot="end" color="light">
      <ion-icon name="bag-handle-outline"></ion-icon>
    </ion-button>
   <!-- <ion-buttons slot="end">
      <ion-back-button  defaultHref="/menu/first"></ion-back-button>
    </ion-buttons>-->
    <ion-title>Home</ion-title>
 </ion-toolbar>
</ion-header>

<!--<ion-content>
  <div id="mountPoint">
  <div>
    <div class="nav"><div class="app-nav"><div id="navContent"></div></div></div>
  <div class="layout">
  <div id="mainContent" style="padding-top: 5px;">
  <div class="">
    <div class=""></div>
  <div id="mainReactContent">
  <div id="reactPageContent">
  <div history="[object Object]" location="[object Object]" match="[object Object]" class="box undefined" dataurls="/gateway/lgp/v2.9/stream/header,/gateway/lgp/v2.9/stream">
  <div class="homePageFeedContainer">
  
  <div class="f-topnav-ctn">
    <div class="feed-card">
      <div class="f-topNav">
        <div style="overflow: hidden; height: 89.2745px;">
          <div class="f-ContentSlider.extraPadding" style="will-change: transform; transform: translateZ(0px);">
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="../menu/first/tab2">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/9ac88b8e-b25d-4bee-af1c-31daa40c9b351606197318523-top-nav_13.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/9ac88b8e-b25d-4bee-af1c-31daa40c9b351606197318523-top-nav_13.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/b652559e-c9b3-483a-91f7-0d3979a7d8921606197318572-top-nav_15.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/b652559e-c9b3-483a-91f7-0d3979a7d8921606197318572-top-nav_15.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/ea6e4bdf-7677-4ebd-ae31-7ee6f0e97af61606197318629-top-nav_17.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/ea6e4bdf-7677-4ebd-ae31-7ee6f0e97af61606197318629-top-nav_17.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
            <div class="slide" style="margin-right: 10px;">
              <div style="width: 73.3333px; border: 0px; border-radius: 4px; overflow: hidden;">
                <div class="ripple-container">
                  <a href="">
                    <div div class="LazyLoad  is-visible" style="height: 86.2745px; width: 100%; background: rgb(255, 242, 223);">
                      <picture class="img-responsive" style="width: 100%;">
                        <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" type="image/webp">
                        <img src="//assets.myntassets.com/dpr_1.5,q_60,w_200,c_limit,fl_progressive/assets/images/2020/11/24/77b49dae-fb0d-4a86-8fac-08d6c3200f381606197318683-top-nav_19.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
                      </picture>
                    </div>
                  </a>
                  <div class="ripple"></div>
                </div>
              </div>
            </div>
            
           
          </div>
        </div>
      </div>
    </div>

  </div>
  

  <div>
    <div class="border feed-card" data-rowid="1">
      <div>
        <div class="ripple-container">
          <a href="">
            <div class="LazyLoad  is-visible" style="height: 400px; width: 100%; background: rgb(229, 241, 255);">
              <picture class="img-responsive" style="width: 100%;">
                <source srcset="../assets/2.jpg" type="image/webp">
                  <img src="../assets/2.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
              </picture>    
            </div>
          </a>
          ><div class="ripple"></div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="border feed-card" data-rowid="2">
      <div>
        <div class="ripple-container">
          <a href="">
            <div class="LazyLoad  is-visible" style="height: 400px; width: 100%; background: rgb(229, 241, 255);">
              <picture class="img-responsive" style="width: 100%;">
                <source srcset="//assets.myntassets.com/f_webp,dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2020/9/22/a994152e-4202-4aee-81b0-6065d31a29fd1600764189524-Women_MSB_04.jpg" type="image/webp">
                  <img src="//assets.myntassets.com/dpr_1.5,q_60,w_400,c_limit,fl_progressive/assets/images/2020/9/22/a994152e-4202-4aee-81b0-6065d31a29fd1600764189524-Women_MSB_04.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
              </picture>    
            </div>
          </a>
          ><div class="ripple"></div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</ion-content>-->

<ion-content>
  
  
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom" color="medium">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-lebel>Home</ion-lebel>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon name="grid"></ion-icon>
      <ion-lebel>Categories</ion-lebel>
    </ion-tab-button>
    <ion-tab-button tab="tab3">
      <ion-icon name="gift"></ion-icon>
      <ion-lebel>Orders</ion-lebel>
    </ion-tab-button>
    <ion-tab-button tab="tab4">
      <ion-icon name="call"></ion-icon>
      <ion-lebel>Help</ion-lebel>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

