.logo {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-top: 50px;
    box-shadow: 15px 15px 20px 0px black;
}

h2,
p {
    color:#632d2d ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.countryCodeBtn {
    font-size: 14px;
    margin: 20px 5px 0 0;
    font-weight: bold;
}

.ion-btn{
    color: grey;
    
}