<ion-header>
  <ion-toolbar>
    <ion-button fill="undefined" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/menu/first/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Category</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-content>

        
          <ion-slides class="ion-padding">
            
            
              <ion-slide class="slide-size">
                <a href="../menu/first">
                  <img src="../assets/women.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
                </a>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
      
            
              <ion-slide class="slide-size">
                <img src="../assets/men.jpg" class="img-padding" alt="" title="" style="width: 100%;"/>
              </ion-slide>
            
                  
          </ion-slides>
       
        
     
  <ion-card>
    <img src="../assets/2.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
  </ion-card>
</ion-content>-->
<ion-content fullscreen class="ion-padding">
  <div class="homePageFeedContainer">
    <div class=".f-topnav-ctn">
      <div class="feed-card">
        <div class="f-topNav">
          <div class="slider-size">
            <ion-slides class="ion-padding">

              
              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <a href="../menu/first">
                    <img src="../assets/women1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                    style="width: 100%;" />
                </a>
                </div>
              </ion-slide>
            


              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/men1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>



              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/kids1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>



              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/toys1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>



              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/home1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>



              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/jewellery1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>



              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/footwear1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>



              <ion-slide class="slide-size">
                <div style="width: 100px; border: 0px; border-radius: 4px; overflow: hidden;">
                <img src="../assets/watches1.jpg" class="img-responsive preLoad loaded" alt="" title=""
                  style="width: 100%;" />
                </div>
              </ion-slide>


            </ion-slides>
          </div>
        </div>
      </div>
    </div>

    <ion-card>
      <div class="card-border">
      <img src="../assets/2.jpg" class="img-responsive preLoad loaded" alt="" title="" style="width: 100%;">
      </div>
    </ion-card>

    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="../assets/s1.jpg" alt="" title="" style="width: 100%;">
      </ion-slide>

      <ion-slide>
        <img src="../assets/s2.jpg" alt="" title="" style="width: 100%;">
      </ion-slide>

      <ion-slide>
        <img src="../assets/s3.jpg" alt="" title="" style="width: 100%;">
      </ion-slide>

     <!--<ion-slide>
        <img src="../assets/f4.jpg" alt="" title="" style="width: 100%;">
      </ion-slide>

      <ion-slide>
        <img src="../assets/f5.jpg" alt="" title="" style="width: 100%;">
      </ion-slide>

      <ion-slide>
        <img src="../assets/f6.jpg" alt="" title="" style="width: 100%;">
      </ion-slide>--> 

    </ion-slides>
  </div>
</ion-content>